/* flex */
.u-f,
.u-f-ac,
.u-f-ajc {
	display: flex;
}

.u-f-ac,
.u-f-ajc {
	align-items: center;
}

.u-f-ajc {
	justify-content: center;
}

.u-f-jsb {
	justify-content: space-between;
}

.u-f1 {
	flex: 1;
}

.u-f-column {
	flex-direction: column;
}

.user-setting-btn {
	width: 100%;
	margin-right: 20rpx 0;
	background-color: #FFE933;
	border: 0;
	color: #333333;
	margin-top: 80rpx;
}

uni-button[disabled].user-setting-btn {
	background-color: #F4F4F4;
	color: 1rpx solid #CCCCCC;
	color: #909090;
}
.user-setting-wrap {
	padding: 0 20rpx;
}


.common-input {
	font-size: 30rpx;
	border-bottom: 1rpx solid #F4F4F4;
}
